# Ignore node_modules folder (common in JavaScript projects)
node_modules/
# Ignore environment files
.env
# Ignore build directories
dist/
build/
# Ignore IDE/editor config files
.vscode/

firebase*
.vercel
.env*.local
